* {
	padding: 0;
	margin: 0;
}
body{
	background: lightblue;
}
li {
	list-style: none;
}

.menu {
	font-size: 15px;
	font-family: "微软雅黑";
}

.menu_head {
	display: block;
	width: 210px;
	height: 44px;
	line-height: 44px;
	background: #B1191A;
	color: #FFFFFF;
	padding-left: 10px;
}

.menu ul {
	color: #FFFFFF;
}

.menu ul li {
	display: block;
	width: 208px;
	height: 30px;
	line-height: 30px;
	background-color: #B61D1D;
	padding-left: 10px;
	border: 1px solid #b61d1d;
}

.menu ul li span {
	float: right;
	margin-right: 14px;
	width: 4px;
	height: 14px;
	font-size: 14px;
}

.menu ul li:hover {
	background: #f7f7f7;
	color: #B61D1D;
	border-right: 1px solid #f7f7f7;
}

.menu ul li:hover span {
	display: none;
}
.menu ul li:hover .detail{
	display: block;
}
.detail {
	position: absolute;
	width: 1000px;
	height: 500px;
	top: 45px;
	left: 220px;
	background: #f7f7f7;
	display: none;
}